input, select {
    padding: 8px;
    border: 1px solid #cbc4c4cc;
    border-radius: 4px;
    min-width: 250px;
}

input:focus-visible, select:focus-visible {
    outline: none;
}

.side_panel {
    display: flex;
    justify-content: end;
    gap: 12px;
}